/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.profile-image {
    width: 170px;
    height: 170px;
    box-sizing: border-box;
    border: 5px solid cadetblue;
    border-radius: 50%;
    overflow: hidden;
}

header .img {
    width: 100px;
    height: 100px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid cadetblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 60px;

    animation: spinning-loader 0.5s timing-function delay iteration-count direction fill-mode;
}

@keyframes spinning-loader {
   0% {

    }
    100% {

    }
}