/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.profile-image {
    width: 170px;
    height: 170px;
    box-sizing: border-box;
    border: 8px solid cadetblue;
    border-radius: 50%;
    overflow: hidden;
}

header .img {
    width: 150px;
    height: 200px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.profile-information {
    display: flex;
    flex-direction: column;
}

.profile-user-name {
    display: inline; /* can't aline other elements if its a block element  */
}

.profile-user-name {
    font-weight: lighter;
    color: gray;
    font-size: 30px;
    margin-right: 10px;
    font-family: "Open Sans", Arial, sans-serif;
}

.btn-profile-edit-btn {
    background-color: white;
    border: 1px solid #262626;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-profile-settings-btn {
    background-color: white;
    border: none;
    margin-left: 5px;
}

.profile-user-settings {
    display: inline;
}

.profile-stats ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.profile-stats {
    margin: 20px;
    font-size: 10px;
    color: #262626; 
    font-weight: 600;
}

.profile-stats li {
    margin-right: 20px;
}

.profile-bio {
    font-size: 10px;
    font-weight: 600;
}

/* GALLERY GRID SECTION */

main .container {
    margin-top: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.gallery-item {
    overflow: hidden;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* HOVER FUNCTION*/
.gallery-item:hover .gallery-item-info {
    opacity: 1;
}

/* LOADER SECTION */

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid cadetblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 30px;

    animation: spinning-loader 0.5s linear infinite;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spinning-loader {
   0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

